body{
    margin: 0;
}
header{
    background: #8ca2db;
    height: 60px;
}
.add{
    display: inline-block;
    padding: 16px;
    font: 500 25px Arial;
    color: white;
    transition: all .3s;
}
.add:hover, .add:focus{
    color: #2835db;
}

.hide{
    display: none;
}