<!--<div class="form-group">
  <label for="name">Name</label>
  <input type="text" required class="form-control" name="name" id="name" aria-describedby="Name" placeholder="Enter name">
</div>
<div class="form-group">
  <label for="type">Type</label>
  <input type="text" disabled="disabled" class="form-control" name="type" id="type" aria-describedby="Type" placeholder="Enter type">
</div>
<div class="form-group">
  <label for="x">Enter point X</label>
  <input type="number" required  class="form-control" id="x" name="x" aria-describedby="Type" placeholder="Enter point X">
</div>
<div class="form-group">
  <label for="y">Enter point Y</label>
  <input type="number" required  class="form-control" id="y" name="y" aria-describedby="Type" placeholder="Enter point Y">
</div>-->
<div class="form-group">
  <label for="height">Enter height</label>
  <input type="number" name="height" required class="form-control" id="height" aria-describedby="Type" placeholder="Enter height">
</div>
<button  type="submit" id="save" class="btn btn-primary">Save changes</button>